<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Página de tarefas</title>
</head>

<body>

    <h1>Tarefas</h1>

    <header>
        <form action="/create" method="post">
            <input type="text" name="task" id="task" placeholder="Inserira uma tarefa">
            <button type="submit" id="addButton">Adicionar</button>
        </form>

        

    </header>

    <section id="tasks">

        <ul><!--loop para retornar a lista de tarefas-->
            <% taskList.forEach((task)=> { %>
                <li>
                    <%= task.task %> | <%= task.date.toLocaleDateString('pt-br') %>
                             <a href="/getById/<%= task._id %>/update">Editar</a>
                </li>

                <% }) %>
        </ul>

    </section>



    <script src="script.js"></script>
</body>

</html>